.DS_Store
*.xcuserstate
*.xcworkspacedata
xcuserdata/
UserInterfaceState.xcuserstate
TestProject.playground/
iosdevswift.playground/
**/xcuserdata/
**/UserInterfaceState.xcuserstate
TestProject.playground/
iosdevswift.playground/
